{include file="index/layout"}
<div class="single">
    <div class="row">
        <div class="col-sm-3 col-lg-3 col-xs-5">
            <div class="cover">
                {if $bookInfo.has_cover == 1}
                <img src="https://book.ferock.net/cover/index/?p={$bookInfo.path}"/>
                {else/}
                <img src="/static/generic_cover.jpg"/>
                {/if}
            </div>
        </div>
        <div class="col-sm-9 col-lg-9 book-meta">
            <h2>{$bookInfo.title}</h2>
            <p class="author">
                {volist name="$bookInfo.author" id="v"}
                <a href="/author/index/id/{$v.id}/">{$v.author}</a>
                {if condition="($bookInfo.author_count > $i)"}
                &amp;
                {/if}
                {/volist}
            </p>
            {if condition="($bookInfo.rating > 0)"}
            <div class="rating">
                <p>
                    {for start="1" end="$bookInfo.rating"}
                    <span class="glyphicon glyphicon-star good"></span>
                    {/for}
                    {for start="0" end="$bookInfo.rating_diff"}
                    <span class="glyphicon glyphicon-star"></span>
                    {/for}
                </p>
            </div>
            {/if}

            {if $bookInfo.series> 0 }
            <p>{:lang('Book')} {$bookInfo.series_index} {:lang('of')} <a href="/series/index/id/{$bookInfo.series}/">{$bookInfo.series_name}</a>
            </p>
            {/if}

            {if $bookInfo.languages_count> 0 }
            <div class="languages">
                <p>
                    <span class="label label-default">{:lang('language')}:
                        {volist name="$bookInfo.languages" id="vo"}
                            {:lang($vo.lang_code)}
                            {if $bookInfo.languages_count != $i }
                            ,
                            {/if}
                        {/volist}
                    </span>
                </p>
            </div>
            {/if}

            {if $bookInfo.identifiers_count> 0 }
            <div class="identifiers">
                <p>
                    <span class="glyphicon glyphicon-link"></span>
                    {volist name="$bookInfo.identifiers" id="vo"}
                    <a href="{$vo.url}" target="_blank" class="btn btn-xs btn-success" role="button">{$vo.type}</a>
                    {/volist}
            </div>
            </p>
            {/if}

            {if $bookInfo.tags_count> 0 }
            <p>
            <div class="tags">
                <span class="glyphicon glyphicon-tags"></span>
                {volist name="$bookInfo.tags" id="vo"}
                <a href="/tag/index/id/{$vo.id}/" class="btn btn-xs btn-info"
                   role="button">{$vo.tag_name}</a>
                {/volist}
            </div>
            </p>
            {/if}

            <div class="publishers">
                <p>
                    <span>{:lang('Publisher')}:{$bookInfo.publishers}</span>
                </p>
            </div>
            <!--
            {% if entry.pubdate[:10] != '0101-01-01' %}
            <p>{{_('Publishing date')}}: {{entry.pubdate|formatdate}} </p>
            {% endif %}
            {% if cc|length > 0 %}
            <p>
            <div class="custom_columns">
                {% for c in cc %}
                {% if entry['custom_column_' ~ c.id]|length > 0 %}
                {{ c.name }}:
                {% for column in entry['custom_column_' ~ c.id] %}
                {% if c.datatype == 'rating' %}
                {{ '%d' % (column.value / 2) }}
                {% else %}
                {% if c.datatype == 'bool' %}
                {% if column.value == true %}
                <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
                {% else %}
                {{ column.value }}
                {% endif %}
                {% endif %}
                {% endfor %}
                <br/>
                {% endif %}
                {% endfor %}
            </div>
            </p>
            {% endif %}
            {% if not g.user.is_anonymous() %}
            <p>
            <div class="custom_columns" id="have_read_container">
                <form id="have_read_form" action="{{ url_for('toggle_read', id=entry.id)}}" method="POST" )>
                    <input id="have_read_cb" type="checkbox" {% if have_read %}checked{% endif %}>
                    <label for="have_read_cb">{{_('Read')}}</label>
                </form>
            </div>
            </p>
            {% endif %}

-->

            <h3>{:lang('Description')}</h3>
            {$bookInfo.comments}



            <div class="more-stuff">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group" aria-label="Download, send to Kindle, reading">
                        <!-- {% if g.user.role_download() %}
                        如果用户允许下载文件
                        -->

                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-download"></span> {:lang('Download')}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                {volist name="$bookInfo.datas" id="vo"}
                                <li>
                                    <a href="/download/index/id/{$vo.id}/">{$vo.format}</a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                        <!-- {% endif %} -->

                        <!-- {% if g.user.kindle_mail and g.user.is_authenticated %} -->
                        <a href="/send/index/id/{$bookInfo.id}/" id="sendbtn" class="btn btn-primary"
                           role="button"><span class="glyphicon glyphicon-send"></span> {:lang('Send to Kindle')}</a>
                        <!-- {% endif %} -->
                        <!-- {% if (g.user.role_download() and g.user.is_anonymous()) or g.user.is_authenticated %} -->
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop2" type="button" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-eye-open"></span> {:lang('Read in browser')}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                {volist name="$bookInfo.datas" id="vo"}
                                {switch name="$vo.format"}
                                    {case value="EPUB|TXT|PDF"}
                                <li><a target="_blank"
                                       href="/read/index/id/{$bookInfo.id}/tpye/{$vo.format}/">{$vo.format}</a>
                                </li>
                                    {/case}
                                {/switch}
                                {/volist}
                            </ul>
                        </div>
                        <!-- {% endif %} -->
                    </div>
                </div>
                </br>
                <!--
                {% if g.user.is_authenticated %}
                {% if g.user.shelf.all() or g.public_shelfes %}
                -->
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group" aria-label="Add to shelves">
                        <button id="btnGroupDrop2" type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-list"></span> {:lang('Add to shelf')}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                            <!--
                            {% for shelf in g.user.shelf %}
                            {% if not shelf.id in books_shelfs and shelf.is_public != 1 %}
                            -->
                            <li><a href="/shelf/add/">书架名称</a>
                            </li>
                            <!--
                            {% endif %}
                            {%endfor%}
                            {% for shelf in g.public_shelfes %}
                            {% if not shelf.id in books_shelfs %}

                            <li><a href="{{ url_for('add_to_shelf', book_id=entry.id, shelf_id=shelf.id) }}">{{shelf.name}}</a>
                            </li>
                            {% endif %}
                            {%endfor%}-->
                        </ul>
                    </div>
                    <!-- {% if books_shelfs %}
                    <div class="btn-group" role="group" aria-label="Remove from shelves">
                        {% for shelf in g.user.shelf %}
                        {% if shelf.id in books_shelfs and shelf.is_public != 1 %}
                        <a href="{{ url_for('remove_from_shelf', book_id=entry.id, shelf_id=shelf.id) }}"
                           class="btn btn-sm btn-default" role="button">
                            <span class="glyphicon glyphicon-remove"></span> {{shelf.name}}
                        </a>
                        {% endif %}
                        {%endfor%}
                        {% for shelf in g.public_shelfes %}
                        {% if shelf.id in books_shelfs %}
                        <a href="{{ url_for('remove_from_shelf', book_id=entry.id, shelf_id=shelf.id) }}"
                           class="btn btn-sm btn-default" role="button">
                            <span class="glyphicon glyphicon-remove"></span> {{shelf.name}}
                        </a>
                        {% endif %}
                        {%endfor%}
                        {% endif %}
                    </div> -->
                </div>
                <!--
                {% endif %}
                {% endif %}
                {% if g.user.role_edit() %} -->
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group" aria-label="Edit/Delete book">
                        <a href="/book/edit/id/{$bookInfo.id}/" class="btn btn-sm btn-warning"
                           role="button"><span class="glyphicon glyphicon-edit"></span> {:lang('Edit metadata')}</a>
                    </div>
                    <!-- {% endif %} -->


                </div>
            </div>
        </div>
        <!-- {% endblock %}

        {% block js %} -->
        <script src="/static/js/libs/jquery.form.js"></script>
        <script>
            $(document).ready(function () {
                var haveReadForm = $('#have_read_form');
                haveReadForm.ajaxForm();
            });
            $("#have_read_container").attr('unselectable', 'on')
                .css({
                    '-moz-user-select': '-moz-none',
                    '-moz-user-select': 'none',
                    '-o-user-select': 'none',
                    '-khtml-user-select': 'none', /* you could also put this in a class */
                    '-webkit-user-select': 'none', /* and add the CSS class here instead */
                    '-ms-user-select': 'none',
                    'user-select': 'none'
                }).bind('selectstart', function () {
                return false;
            });
            $("#have_read_container").click(function () {
                var haveReadForm = $('#have_read_form');
                if ($("#have_read").find('span').hasClass('glyphicon-ok')) {
                    $("#have_read").find('span').removeClass('glyphicon-ok');
                    $("#have_read").find('span').addClass('glyphicon-remove');
                } else {
                    $("#have_read").find('span').removeClass('glyphicon-remove');
                    $("#have_read").find('span').addClass('glyphicon-ok');
                }
                haveReadForm.submit()
            });
        </script>
        <!-- {% endblock %} -->
        {include file="public/foot"}