<!DOCTYPE html>
<html>
<head>
    <title>{$instance}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Bootstrap -->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href="/static/css/libs/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv/html5shiv.js"></script>
    <script src="/static/js//respond.js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--script src="https://code.jquery.com/jquery.js"></script-->
    <script src="/static/js/libs/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/libs/bootstrap.min.js"></script>
    <script src="/static/js/libs/underscore-min.js"></script>
    <script src="/static/js/libs/intention.min.js"></script>
    <script src="/static/js/libs/context.min.js"></script>
    <script src="/static/js/libs/plugins.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
<script>
    $(document).ready(function () {
        $("#btn-upload").change(function () {
            $("#form-upload").submit();
        });
    });
</script>
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{:lang('Toggle navigation')}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Calibre Web</a>
        </div>
        <!-- {% if g.user.is_authenticated or g.user.is_anonymous() %} -->
        <form class="navbar-form navbar-left" role="search" action="/search/" method="GET">
            <div class="form-group input-group input-group-sm">
                <input type="text" class="form-control" name="query" placeholder="{:lang('Search')}">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-default">{:lang('Go!')}</button>
              </span>
            </div>
        </form>
        <!-- {% endif %} -->
        <div class="navbar-collapse collapse">
            <!-- {% if g.user.is_authenticated or g.user.is_anonymous() %} -->
            <ul class="nav navbar-nav ">
                <li><a href="/search/advanced/"><span class="glyphicon glyphicon-search"></span><span class="hidden-sm"> {:lang('Advanced Search')}</span></a>
                </li>
            </ul>
            <!-- {% endif %} -->
            <ul class="nav navbar-nav navbar-right" id="main-nav">
                <!--    {% if g.user.is_authenticated or g.user.is_anonymous() %}
                   {% if g.user.role_upload() or g.user.role_admin()%}
                   {% if g.allow_upload %} -->
                <li>
                    <form id="form-upload" class="navbar-form" action="/upload/" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                               <span class="btn btn-default btn-file">{:lang('Upload')}<input id="btn-upload"
                                                                                              name="btn-upload"
                                                                                              type="file"></span>
                        </div>
                    </form>
                </li>
                <!-- 如果是管理员 -->
                <li><a id="top_admin" href="/admin/"><span
                        class="glyphicon glyphicon-dashboard"></span><span
                        class="hidden-sm"> {:lang('Admin')}</span></a>
                </li>
                <!-- {% endif %} -->
                <li><a id="top_user" href="/profile/"><span class="glyphicon glyphicon-user"></span><span
                        class="hidden-sm"> {$user.nickname}</span></a></li>
                <!--  {% if not g.user.is_anonymous() %} -->
                <li><a id="logout" href="/logout/"><span class="glyphicon glyphicon-log-out"></span><span
                        class="hidden-sm"> {:lang('Logout')}</span></a></li>
                <!-- {% endif %}
               {% endif %}
               {% if g.allow_registration and not g.user.is_authenticated %} -->
                <li><a id="login" href="/login/"><span class="glyphicon glyphicon-log-in"></span>
                    {:lang('Login')}</a></li>
                <li><a id="register" href="/register/"><span class="glyphicon glyphicon-user"></span>
                    {:lang('Register')}</a></li>
                <!-- {% endif %} -->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- {% for message in get_flashed_messages(with_categories=True) %}
{%if message[0] == "error" %}
<div class="row-fluid" style="margin-top: -20px; text-align: center;">
    <div id="flash_alert" class="alert alert-danger">{{ message[1] }}</div>
</div>
{%endif%}
{%if message[0] == "info" %}
<div class="row-fluid" style="margin-top: -20px; text-align: center;">
    <div id="flash_info" class="alert alert-info">{{ message[1] }}</div>
</div>
{%endif%}
{%if message[0] == "success" %}
<div class="row-fluid" style="margin-top: -20px; text-align: center;">
    <div id="flash_success" class="alert alert-success">{{ message[1] }}</div>
</div>
{%endif%}
{% endfor %} -->
<div class="container-fluid">
    <div class="row-fluid">
        <!-- {% if g.user.is_authenticated or g.user.is_anonymous() %} -->
        <div class="col-sm-2">
            <nav class="navigation">
                <ul class="list-unstyled" id="scnd-nav" intent in-standard-append="nav.navigation"
                    in-mobile-after="#main-nav" in-mobile-class="nav navbar-nav">
                    <li class="nav-head hidden-xs">{:lang('Browse')}</li>
                    <li id="nav_new"><a href="/"><span class="glyphicon glyphicon-book"></span>
                        {:lang('New Books')}</a></li>
                    <!-- {% if g.user.show_hot_books() %}
                    <li id="nav_hot"><a href="/index/hot/"><span class="glyphicon glyphicon-fire"></span>
                        {:lang('Hot Books')}</a></li>
                    <!-- {%endif%}
                    {% if g.user.show_best_rated_books() %} -->
                    <li><a href="/rated/"><span class="glyphicon glyphicon-star"></span>
                        {:lang('Best rated Books')}</a></li>
                    <!-- {%endif%}
                    {% if g.user.show_read_and_unread() %}
                    <li><a href="/readbooks/"><span class="glyphicon glyphicon-eye-open"></span>
                        {:lang('Read Books')}</a>
                    </li>
                    <li><a href="/unreadbooks/"><span class="glyphicon glyphicon-eye-close"></span>
                        {:lang('Unread Books')}</a></li>
                    <!-- {%endif%}
                    {% if g.user.show_random_books() %} -->
                    <li id="nav_rand"><a href="/index/discover/"><span class="glyphicon glyphicon-random"></span>
                        {:lang('Discover')}</a></li>
                    <!-- {%endif%}
                    {% if g.user.show_category() %} -->
                    <li id="nav_cat"><a href="/category/"><span
                            class="glyphicon glyphicon-inbox"></span> {:lang('Categories')}</a></li>
                    <!-- {%endif%}
                    {% if g.user.show_series() %} -->
                    <li id="nav_serie"><a href="/series/"><span
                            class="glyphicon glyphicon-bookmark"></span> {:lang('Series')}</a></li>
                    <!-- {%endif%}  -->
                    <li id="nav_author"><a href="/author/"><span
                            class="glyphicon glyphicon-user"></span> {:lang('Authors')}</a></li>
                    <!-- {% if g.user.filter_language() == 'all' and g.user.show_language() %}
                    <li id="nav_lang"><a href="{{url_for('language_overview')}}"><span
                            class="glyphicon glyphicon-flag"></span> {{_('Languages')}} </a></li>
                    {%endif%}
                    {% if g.user.is_authenticated or g.user.is_anonymous() %} -->
                    <li class="nav-head hidden-xs">{:lang('Public Shelves')}</li>
                    <!-- {% for shelf in g.public_shelfes %} -->
                    <li><a href="/shelf/id/1/"><span
                            class="glyphicon glyphicon-list"></span> {{shelf.name}}</a></li>
                    <!-- {% endfor %} -->
                    <li class="nav-head hidden-xs">{:lang('Your Shelves')}</li>
                    <!-- {% for shelf in g.user.shelf %} -->
                    <li><a href="/shelf/id/1/"><span
                            class="glyphicon glyphicon-list"></span> {{shelf.name}}</a></li>
                    <!-- {% endfor %}
                    {% if not g.user.is_anonymous() %} -->
                    <li id="nav_createshelf" class="create-shelf"><a href="/shelf/create/">{:lang('Create a
                        Shelf')}</a></li>
                    <li id="nav_about"><a href="/stats/"><span
                            class="glyphicon glyphicon-info-sign"></span> {:lang('About')}</a></li>
                    <!-- {% endif %}
                    {% endif %} -->

                </ul>
            </nav>
        </div>
        <!-- {% endif %} -->
        <div class="col-sm-10">

